@page
@model StudentAccommodation_RazorPages.Pages.Students.GetStudentsModel
@{
}
<h1>List of Students</h1>
<form>
    <p>

    </p>
</form>
<h4>List of Students</h4>
<table class="table">
    <thead>
    <tr>
        <th>Student no.</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Students != null)
    {
        @foreach (var stud in Model.Students)
        {
            <tr>
                <td>@stud.Student_No</td>
                <td>@stud.Name</td>
                <td>@stud.Address</td>
                <td>
                    <a asp-page="/Leasings/GetLeasings" asp-page-handler="LeasingsPerStudent" asp-route-id="@stud.Student_No">Leasings</a>
                </td>
                <td>
                    <a asp-page="/StudentRooms"></a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>