    @page
@using ItemRazorV1.Models
@model ItemRazorV1.Pages.Item.GetAllItemsModel
@{
}
    <h1>Items</h1>

    <table class ="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
        </thead>
        <tbody>
        @if (@Model.Items != null)
        {
            foreach (Item item in Model.Items)
            {
                <tr>
                    <td>
                        @item.ItemID
                    </td>
                    <td>
                        @item.ItemName
                    </td>
                    <td>
                        @item.ItemPrice
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>