@page
@model IndexModel
@{
    ViewData["Title"] = "MediocoreGamer";
}


<header>
    <div>
        <h1>
            My Portfolio - Terondashi
        </h1>
    </div>
</header>
<body>
    <div>
        <img class="img-fluid" src="~/images/pic2.png" />
        <p>Phoenix</p>
    </div>
</body>

https://us.api.blizzard.com/profile/wow/character/tichondrius/charactername/appearance?namespace=profile-us&locale=en_US&access_token=USWQ8Y22PZH2nnZ1Qe4ZLRl3uvWHJRJbWu