<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>

    <title>Document</title>
  </head>
  <body id="app">
    <div>{{test}}</div>
    <!-- GetAll -->
    <div>
      <button @click="getAll">GetAll</button>
    </div>
    <!-- GetById -->
    <div>
      <input type="number" v-model="searchId" />
      <button @click="getById(searchId)">GetById</button>
    </div>
    <!-- Add -->
    <div>
        <input type="text" v-model="newRecord.recordName" placeholder="Title">
        <input type="text" v-model="newRecord.artistName" placeholder="Artist">
        <input type="number" v-model="newRecord.duration" placeholder="Duration (in seconds)">
        <input type="number" v-model="newRecord.publicationYear" placeholder="Release Year">
        <button @click="add">Add</button>
    </div>
    <div>
      <input type="text" v-model="searchRecordName" placeholder="Title">
      <input type="text" v-model="searchArtistName" placeholder="Artist">
      <input type="number" v-model="searchYear" placeholder="Release Year">
      <button @click="getFiltered">Filter</button>
    </div>

    <div>
      <input type="number" v-model="updateId" placeholder="ID">
      <input type="text" v-model="updateValue.recordName" placeholder="Title">
      <input type="text" v-model="updateValue.artistName" placeholder="Artist">
      <input type="number" v-model="updateValue.duration" placeholder="Duration (in seconds)">
      <input type="number" v-model="updateValue.publicationYear" placeholder="Release Year">
      <button @click="update">Update</button>
  </div>
  <div>
    <input type="number" v-model="idToBeDeleted" placeholder="ID">
    <button @click="deleteRecord">Delete</button>
  </div>



    <div>
      <ul>
        <li v-for="record in records">{{record}}</li>
      </ul>
    </div>

    <script src="/main.js"></script>
    <script>
      const mountedApp = app.mount("#app")
    </script>
  </body>
</html>
