@page
@model ItemRazor.Pages.Order.OrderItemModel
@{
}
<div>
    <div>
        @Model.OrderUser.UserName
    </div>
    <div>
        @Model.OrderLine.Item.Name - @Model.OrderLine.Item.Price
    </div>
    <div>
        <form method="post">
            How many do you wanna order? =)<br/>
            <input asp-for="Count"/>
            <button class="btn btn-danger"></button>
        </form>
    </div>
</div>
