<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7aec9586-eb04-4e74-87b0-27fbaccd903b/resourceGroups/VIJE-RestExercise/providers/Microsoft.Web/sites/VIJE-RestExercise</ResourceId>
    <ResourceGroup>VIJE-RestExercise</ResourceGroup>
    <ApiResourceId>/subscriptions/7aec9586-eb04-4e74-87b0-27fbaccd903b/resourceGroups/VIJE-RestExercise/providers/Microsoft.ApiManagement/service/FootballRESTServiceapi/apis/FootballRESTService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vije-restexercise.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>235ba725-de31-4f9e-b6e4-933609513407</ProjectGuid>
    <MSDeployServiceURL>vije-restexercise.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VIJE-RestExercise</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$VIJE-RestExercise</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>