<div class="jumbotron">
  <h1>Angular Movies <img src='assets/Image/movie_img.png'> </h1>
  This small App demonstrates communication between child-components using Input/Output
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <app-movie-list></app-movie-list>
 <!--       <app-movie-list (movie-selected)="movieSelected($event)"> </app-movie-list> -->
  </div>
  <div class="col-sm-5">
<!--           <app-movie-poster [movie]="selectedMovie"> </app-movie-poster> -->
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">
<!--           <app-movie-plot [movie]="selectedMovie"> </app-movie-plot> -->
  </div>
  <div class="col-sm-3"></div>
</div>
