@page
@using Pizza_StoreV1.Models
@model Pizza_StoreV1.GetAllPizzasModel
@{
}
<h1>GetAllPizzas</h1>

<table class="table table-hover table-bordered table-light">
    <thead class ="table-dark">
    <tr>
        <th>
            #
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
    </tr>
    </thead>
    <tbody>
    table start
    @if (Model.Pizzas != null)
    {
        @foreach (Pizza item in Model.Pizzas.Values)
        {
            <tr>
                <td>
                    test
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <img src="~/Images/@item.ImageName" width="60" height="70"/>
                </td>
            </tr>
        }
    }
    else if (Model.Pizzas.Count <= 3)
    {
        <tr>it was 0 or less than 3</tr>
    }

    table end
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-page="CreatePizza">Create New Pizza</a>
</p>