@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <button id="locationButton" type="button" class="btn btn-default" onclick="getLocation()">Use Actual Location</button>
    <button id="location1" type="button" class="btn btn-primary" onclick="gotoLocation1()">Go to Location 1</button>
    <button id="pinLocation" type="button" class="btn btn-primary" onclick="pinLocation()">Add Pin</button>

</div>


<div id="map" style="height: 800px; width: 800px"></div>



<script>
    let map;
    let markers = [];
    const zealandSchool = { lat: 55.63088297071046, lng: 12.078155982992433 };

    function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
            center: zealandSchool,
            zoom: 15
        });
    }
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(useLocation);
        }
    };
    function gotoLocation1() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 56.2839786255812, lng: 13.279067044328727},
            zoom: 13
        });
    }
    function useLocation(position) {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: position.coords.latitude, lng: position.coords.longitude},
            zoom: 13
        });
        var marker = new google.maps.Marker({
            position: {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            },
            map: map,
            draggable: true
        });
    };
    function pinLocation() {
        var marker = new google.maps.Marker({
            position: map.getCenter(),
            map: map,
            draggable: true
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUbDlQIcUQq0ZJHunpby7ykwCF9RLEoio&callback=initMap"
        async defer></script>